@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width:100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
    background-color: skyblue !important;
    color: black !important;
}

.react-calendar__tile--now {
    background-color: lightgray !important;
}

.react-calendar__navigation__label__labelText{
    font-weight: bold !important;
}